services:
  redis-cache:
    image: redis:latest
    container_name: my-redis-container
    ports:
      - "6380:6379"
    restart: unless-stopped
    volumes:
      - redis_volume:/data
  redis-insight:
    image: redislabs/redisinsight
    container_name: my-redis-insight
    ports:
      - "6381:8001"
    volumes:
      - redisinsight_volume:/db

volumes:
  redis_volume:
  redisinsight_volume: