server:
  port: 8081
  address: 127.0.0.1

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: CricketAPIs
  output:
    ansi:
      enabled: ALWAYS
  data:
    redis:
      port: 6379
      host: 172.17.0.1

logging:
  file:
    name: "/home/abhishek/Desktop/Code/CricketCrickBuzzAPI/logs/cricket.log"
    path: "/home/abhishek/Desktop/Code/CricketCrickBuzzAPI/logs/"
  level:
    #    root: INFO
    com.cricketcrickbuzz: DEBUG
  #    performance.*: DEBUG
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  logback.rollingpolicy.max-history: 7


CRICK_BUZZ_BASE_URL: "https://cricbuzz-cricket.p.rapidapi.com"
